.slide-content img {
  width: 60%;
  display: block;
  margin: 0 auto;
  border: 5px solid #f1f1f1;
  border-radius: 0;
}

.slide-content img[src*="for-array.png"] {
  width: 90%;
}

.reference-link {
  margin-top: 4rem;
  font-size: 75%;
}

/**
 * Syntax highlighting
 */
.hljs-comment,
.hljs-quote {
  color: #8e908c;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}

.hljs-attribute {
  color: #eab700;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00;
}

.hljs-title,
.hljs-section {
  color: #4271ae;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8;
}

pre code {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
  font-family: courier;
}

.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
